/* primeira sessão*/

.sobre-nos {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 5em 25vw;
}

.conteudo__titulo-secundario {
    font-weight: 600;
    color: var(--vermelho);
    font-size: 16px;
}

.conteudo__titulo {
    font-size: 48px;
    font-weight: 600;
    padding: 1em 0;
}

.conteudo__texto {
    font-size: 20px;
    font-weight: 400;
    color: var(--cinza);
}

@media screen and (max-width: 768px) {
    .sobre-nos {
        margin: 2em 1em;
    }
    
    .conteudo__titulo {
        font-size: 2rem;
        font-weight: 600;
        padding: 0.5em 0;
    }
}